{% extends "base.html" %}

{% block content %}
<h2>Resumen de Vacaciones</h2>

<p><strong>Empleado:</strong> {{ vacacion.empleado.nombres }} {{ vacacion.empleado.apellido_paterno }}</p>
<p><strong>Fecha de Inicio:</strong> {{ vacacion.fecha_inicio }}</p>
<p><strong>Fecha de Fin:</strong> {{ vacacion.fecha_fin }}</p>
<p><strong>Fecha de Retorno:</strong> {{ vacacion.fecha_retorno }}</p>
<p><strong>Motivo:</strong> {{ vacacion.motivo }}</p>

<hr>

<button onclick="window.print()" class="btn btn-primary">Imprimir</button>

<a href="{% url 'vacacion_pdf' vacacion.id %}" class="btn btn-danger" target="_blank">
  Descargar PDF oficial
</a>

<a href="{% url 'empleado_detalle' vacacion.empleado.id %}" class="btn btn-secondary">Volver</a>


{% endblock %}
