{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">📁 Módulo de Finiquitos</h2>

  <div class="row justify-content-center g-3">
    <div class="col-12 col-md-6">
      <a href="{% url 'finiquito_nuevo' %}" class="btn btn-success w-100 py-3">
        🆕 Finiquito Nuevo
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href="{% url 'finiquito_lista' %}?estado=pendiente" class="btn btn-warning w-100 py-3">
        ⏳ Finiquitos Pendientes
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href="{% url 'finiquito_lista' %}?estado=terminado" class="btn btn-primary w-100 py-3">
        ✅ Finiquitos Terminados
      </a>
    </div>
  </div>
</div>
{% endblock %}
