{% extends 'base.html' %}

{% block title %}Solicitud de vacaciones{% endblock %}

{% block content %}
<div class="container mt-4 p-4 border bg-light rounded">
    <h3 class="mb-3">Vacaciones de {{ empleado.nombres }} {{ empleado.apellido_paterno }}</h3>
    
    <p><strong>Días disponibles este año:</strong> {{ dias_disponibles }}</p>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.dias_a_tomar.label_tag }}
            {{ form.dias_a_tomar }}
        </div>

        <div class="mb-3">
            {{ form.fecha_inicio.label_tag }}
            {{ form.fecha_inicio }}
        </div>


        <div class="mb-3">
            {{ form.motivo.label_tag }}
            {{ form.motivo }}
        </div>

        {% if fecha_fin and fecha_retorno %}
            <div class="alert alert-info">
                <p><strong>Fecha fin estimada:</strong> {{ fecha_fin }}</p>
                <p><strong>Fecha de regreso:</strong> {{ fecha_retorno }}</p>
            </div>
        {% endif %}

        <div class="d-flex justify-content-start gap-2">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'empleado_detalle' empleado.id %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
